#runtime-ui {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
#runtime-ui.unity-disabled {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

#runtime-ui__footer {
    align-items: center;
    justify-content: center;
}

.padding-right-sm {
    padding-right: 8px;
}

.maximize {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.disabled {
    transition: scale 0ms linear 250ms;
    scale: 0;
}